/* Navbar */
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}

.navbar ul{
    padding: 0;
}

/* Headings */
.heading{
    font-size: 2rem;
}

/* About Section */
.about{
    flex-direction: column;
}
.about h2{
    text-align: center;
}

.about img{
    width: 200px;
    height: 190px;
    padding: 0px 10px;
}
/* Message box */
#message{
    width: 40%;
    height: 200px;
}

/* Boxes */
.box{
    height: 150px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    padding-bottom: 40px;
}
.box h2{
    color: yellowgreen;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.box p{
    color: white;
    font-size: .8rem;
}

/*contact*/
#submit{
    padding-left: 16px;
}

/*getintouch*/
#getintouch .getintouch .h1{
    padding-top: 20px;
    font-size: 1.3rem;
}
